
html{
  height:100%;
  width:100%;
}

body{
  margin:0;
  height:100%;
  width:100%;
  position: relative;
  overflow:hidden;
}

*:not(body){
  position: absolute;
  user-select: none;
}

#player{
  width: 10%;
  height:auto;
  /* height: 15/16*9; */
  left:10%;
  bottom:10%;
  /* background-color: #f67; */
  z-index: 2;
  image-rendering:pixelated;
}

/* #screen{
  height:100%;
  width:calc(100vh/9*16);
  border: 1px solid black;
  left:50%;

} */

#screen{
  /* border:1px solid black; */
  /* height:100%;
  width:calc(100vh/9*16); */
  /* background-color: #bae; */
  background-color: #8df;
  /* left:50%;
  transform:translate(-50%) */
}

/* @media screen and (orientation: portrait) {
  #screen{
    border:1px solid black;
    width:100%;
    height:calc(100vw/16*9);
    background-color: #bae;
    top:50%;
    transform:translate(-50%,-50%)

  }
} */

@media screen and (min-width:calc(100vw/16*9)) {
  #screen{
    height:100%;
    width:calc(100vh/9*16);
    left:50%;
    transform:translate(-50%)
  }
}

@media screen and (max-width:calc(100vh/9*16)) {
  #screen{
    width:100%;
    height:calc(100vw/16*9);
    top:50%;
    transform:translate(-50%,-50%)
  }
}

#platforms{
  width:100%;
  height:100%;
  bottom:0;
  left:0;
}

.sections{
  width:100%;
  height:100%;
  left:0;
  bottom:0;
}

.platforms{
  width:50%;
  height:10%;
  /* bottom:20%;
  left:50%; */
  background-color: #659;
  background-color: #777;
}

.barriers{
  width:20%;
  height:20%;
  /* background-color: red; */
}

.fire{
  width:100%;
  height: auto;
  bottom:0;
  left:0;
  image-rendering:pixelated;
}

#floor{
  width:100%;
  height:10%;
  left:0;
  bottom:0;
  background-color: #3f5;
  position: fixed;
}

#healthbar{
  width:30%;
  height:4%;
  bottom:2%;
  left:1.5%;
  background-color: #755;
  border:1px solid #a24;
  position: fixed;
  z-index: 1;
}

#health{
  width:100%;
  height:100%;
  bottom:0%;
  left:0%;
  background-color: #d57;
  z-index: 1;
}

.screens{
  width:100%;
  height:100%;
  bottom:0%;
  left:0%;
}

#deathscreen{
  background-color: black;
  z-index: 2;
  visibility: hidden;
}

#deathText{
  color:white;
  font-size: 500%;
  text-align: center;
  width:100%;
  font-family: sans-serif;
}

#restart{
  height:20%;
  width:20%;
  bottom:10%;
  left:40%;
  background-color: #6bd;
  font-size: 150%;
}

#projectiles{
  width:100%;
  height:100%;
  bottom:0%;
  left:0%;
}

.projectiles{
  background-color: #660;
}

/* @media screen and (orientation: landscape){
  #screen{
    height:100%;
    width:calc(100vh/9*16);
    left:50%;
    transform:translate(-50%)
  }
}

@media screen and (orientation: portrait){
  #screen{
    width:100%;
    height:calc(100vw/16*9);
    top:50%;
    transform:translate(0,-50%)
  }
} */
